.login-container {
  display: flex;
  height: 100vh;
  font-family: "Segoe UI", sans-serif;
}

.left-section {
  flex: 1;
  background-color: #fef5e7;
  color: #333;
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.left-section h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.left-section p {
  font-size: 18px;
  margin-bottom: 30px;
}

.pet-image {
  width: 100%;
  max-width: 450px;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.right-section {
  flex: 1;
  background-color: #fff;
  padding: 80px 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: -5px 0 15px rgba(0, 0, 0, 0.05);
}

.right-section h2 {
  font-size: 32px;
  margin-bottom: 30px;
}

.right-section form {
  display: flex;
  flex-direction: column;
}

.right-section input,
.right-section select {
  padding: 12px;
  margin-bottom: 16px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.right-section button {
  padding: 12px;
  background-color: #f57c00;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.right-section button:hover {
  background-color: #e65100;
}

.message {
  margin-top: 10px;
  color: red;
}

.register-link {
  color: #f57c00;
  text-decoration: none;
}
